.ly-triple-store-award {
  margin: 50px 0px 140px 623px;
}

.triple-store-award {
  white-space: nowrap;
}

.ly-store-item {
  display: inline-block;
  height: 54px;
  line-height: 22px;
  padding: 5px 0px 5px 62px;
  margin-right: 39px;
}

.store-item {
  font-size: 14px;
  font-weight: bold;
  background-size: 54px 54px;
  background-position: left top;
  background-repeat: no-repeat;
  color: rgba(58, 58, 58, 0.8);
}

.google {
  background-image: url(../../../../public/asset/images/play-store2x.png);
}

.apple {
  background-image: url(../../../../public/asset/images/badge-apple4x.png);
}
