.ly-app-stats {
  margin-left: 623px;
  padding-top: 150px;
}

.ly-stats-item {
  margin-bottom: 20px;
}

.stats-item {
  font-size: 36px;
  letter-spacing: -1px;
  color: rgb(58, 58, 58);
}

.stats-item > strong {
  font-weight: bold;
}
