.ly-triple-logo {
  position: absolute;
  top: 150px;
  width: 400px;
  height: 338px;
  padding-top: 280px;
  box-sizing: border-box;
}

.triple-logo {
  background-size: 400px 338px;
  background-image: url(../../../public/asset/images/triple2x.png);
  background-repeat: no-repeat;
  font-size: 15px;
  text-align: center;
  color: rgba(58, 58, 58, 0.7);
}
